<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnj.slrbackend.mapper.PracticeRecordMapper">

    <resultMap id="BaseResultMap" type="com.cnj.slrbackend.model.entity.PracticeRecord">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="videoUrl" column="video_url" />
        <result property="aiAdvice" column="ai_advice" />
        <result property="predictJson" column="predict_json" />
        <result property="targetText" column="target_text" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, video_url, ai_advice, predict_json, target_text, create_time
    </sql>

</mapper>
